In [3]:
import pandas as pd
df = pd.read_csv("Salary_Data.csv")

In [4]:
df.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [5]:
x = df.iloc[:,:-1].values #values likhe ge to array me ans ayega 
y = df.iloc[:,-1].values

In [6]:
x.shape

(30, 1)

In [11]:
from sklearn.model_selection import train_test_split;

ModuleNotFoundError: No module named 'sklearn'